* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    font-family: 'Playfair Display', serif;
}


/* Navbar */

.nav-menu {
    padding: 25px;
}

.fas {
    color: coral;
}

.menu {
    font-size: 20px;
    letter-spacing: 1px;
    transition: all .4s;
    color: blanchedalmond;
}

.menu:hover {
    color: sandybrown
}

.bar1,
.bar2,
.bar3 {
    width: 23px;
    height: 8px;
    margin: 5px;
    transition: all .5s;
}

.navbar-toggler {
    outline: none !important;
}

.heading {
    color: whitesmoke;
}


/* End of navbar  */


/* Header  */

header {
    height: 100vh;
    background: url(/img/foto1.jpg) no-repeat center center/cover;
    opacity: 10px;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    widows: 80px;
}

.heading {
    animation-name: slide;
    animation-duration: 2s;
}

.main {
    animation-name: slide;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

@keyframes slide {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* End of Header */


/* About Us */

#about {
    background: black;
    margin-top: 11px;
    color: seashell;
}

.title-text {
    font-size: 27px;
}

.about-images {
    position: relative;
}

.about-img {
    position: absolute;
    width: 150px;
    transition: all 2s ease;
    opacity: 0.9;
}

.img-1 {
    left: 0%;
    top: 0%;
}

.img-2 {
    left: 20%;
    top: 20%;
    z-index: 10;
}

.img-3 {
    left: 40%;
    top: 45%;
    z-index: 20;
}

.img-4 {
    left: 40%;
    top: 0%;
}

.img-5 {
    left: 0%;
    top: 45%;
}

.btn {
    color: tan !important;
    font-weight: bold !important;
    border: 2px solid #634832 !important;
    font-size: 25px;
}


/* End of About Us */